
# Ignore system files
*~
.DS_Store
*.DS_Store
*[Tt]humbs.db
*.Trashes

# Ignore private files
/.idea
NOTES.md

# Ignore node modules and errors

node_modules
npm-debug.log
yarn-error.log
report.*.json

# Ignore output or test coverage

test/diffs
dist
coverage
